<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qing.qingboot.mapper.LikesMapper">

    <delete id="delById">
        delete from likes where user_Id = #{userId} and sid =#{sid}
    </delete>
    <select id="LikesSelect" resultType="com.qing.qingboot.bean.vo.LikesVO">
        select * from likes where user_Id = #{userId}
    </select>
</mapper>